version: 2

jobs:
  build-publish:
    working_directory: ~/app
    docker:
      - image: cimg/node:17.9.0
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.12
      - run:
          name: Build Docker image
          command: |
            docker build . -t ghcr.io/markormesher/iperf-prometheus-collector/iperf-prometheus-collector:$(git describe)
            docker image ls
      - run:
          name: Maybe publish
          command: |
            # publish tagged commits only
            if ! git describe --exact-match HEAD > /dev/null 2>&1; then echo "Not on tagged commit - nothing to do"; exit 0; fi
            echo "${GHCR_PUBLISH_TOKEN}" | docker login ghcr.io -u markormesher --password-stdin
            docker publish ghcr.io/markormesher/iperf-prometheus-collector:$(git describe)

workflows:
  version: 2
  build-publish:
    jobs:
      - build-publish
